*{
    box-sizing: content-box;
    margin: auto;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
    position: relative;
}

.container{      
    contain: content;    
    width: fit-content;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.4); 
    border-radius: 10px;
    padding: 30px;
}



#logo{
    display: block;
    width: 30%;
}

.int{
    display: block;
    color: rgb(64, 247, 64);
    text-align: center;
}

.pulsanti{
    display: block;
    color: rgb(64, 247, 64);
    text-align: center;
    background-color: rgb(64, 247, 64);
    padding: 15px;
}

.info{
    display: inline-block;
    color: white;
    padding: 20px;
}

.square{
    display: inline-block;
	width: 15px;
	height: 15px;
	background:white;
    border-radius: 2px;
}

h3, .ind{
    display: inline-block;
}

h4{
    display: inline-block;
    color: white; 
}

#barra1 {
    display: block;
    width: 450px;
    height: 35px;
    background: rgb(255, 174, 52);
    border-radius: 10px;
  }

#barra2 {
    display: block;
    width: 790px;
    height: 35px;
    background: rgb(77, 189, 25);
    border-radius: 10px;
  }

  #barra3 {
    display: block;
    width: 320px;
    height: 35px;
    background: rgb(255, 0, 0);
    border-radius: 10px;
  }